.container {
    display: flex;
    gap: 12px;
    justify-content: center;
}

.input {
    width: 377px;
}

.numcontainer {
    margin: 0, auto;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 48px;
    max-width: 1040px;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 48px;
}